@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  height: 100%;
  margin: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
}

footer button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer button:hover {
  color: #ddd;
}

footer span {
  margin-top: 4px;
  font-size: 12px;
}
